[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[http]
	proxy = http://127.0.0.1:7891
